

.navbar{
    position: fixed; /* Establece la posición fija para la barra de navegación */
    padding: 2rem;
    width: 100%;  
    height: 3.1rem;  
    background-color: white;
    z-index: 1000;
    font-size: 1rem;
  }
  .navbar-collapse{
    align-items: center;
    justify-content: space-between;
    
  }
  
 
  .navbar-nav .nav-link {
    color: black;
  }