.background-image {
  background-image: url('https://live.staticflickr.com/65535/52780135401_e54174f7e2_b.jpg');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita en el fondo */
    height: 50rem;
    padding: 0.5rem;
    
}